/*Imoport Fonts*/
/*Templates Defaults and Externals*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*End Defaults and Externals*/


.nav-link:hover
{
    color:  #00B489 !important;

}
.featuredlinks
{
    text-decoration: none;
    color: #444545;
    border-radius: 5px;
}


.featuredlinks:hover
{
    border: none !important;
    color: #444545;
    box-shadow: 3px 2px 50px rgba(1, 35, 53, 0.15);

}
.nav-link
{
    color:  #838383!important;

}

.content
{
    font-size: 16px;
}

.form-control:focus
{
    border-color: #00B489;
}

.heroimage
{
    background-image: url(assets/lady-browsing.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-top: 100px;
    font-family: "Inter", sans-serif;
}

.hero-home-head{
    font-family:"Poppins",sans-serif;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    color: #1E91D0;
    font-weight: 900;
    margin-top: 15px;
}

.hero-home-description{
    display: flex;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    font-size: 1.2em;
    color: #858d8d;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.btn.login.custom{
    background-color:  #00B489;
    width: 194px;
    height: 52px;
    margin-top: 41px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight:500;
    color: #fff;
}
.btncategories
{
width: 14.875rem;
font-size: 1.25rem;
height: 2.875rem;
background-color: white;
color: #00B489;
border: 1px solid #00B489;
filter: drop-shadow(0px 8px 35px rgba(0, 0, 0, 0.16));
border-radius: 5px;
font-family: 'Poppins';
}
.btncategories:hover
{
    color: #00B489;
}

/* Responsiveness for Footer */
@media (max-width: 991px) , (max-width: 764px){
    .navbar-collapse.collapse.show{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .heroimage
    {
        background-image: url(assets/lady-browsing.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
        height: 24em;
        padding-top: 100px;
        font-family: "Inter", sans-serif;
    }
    .hero-home-head{
        font-family:"Poppins",sans-serif;
        font-size: 3em;
        display: flex;

    }
}

@media (max-width: 450px) , (max-width: 300px){
    .heroimage{
        height: 31em;
    }
}
@media only screen and (max-width:768px)
{
    /* Responsiveness for Footercontent */
    .content
    {
        width: auto !important;
    }

    .gigs-section
    {
        height: auto !important;
    }

    .text-center
    {
        width: auto !important;
    }
    .how-it-works-section, .featured-categories-section
{
   height: auto !important;
}
.card
{
    margin-left: auto !important;
    margin-right: auto !important;
}
.rightsection
{
    text-align: center;
    margin-left: 0rem !important;
}
    .logo
    {
        text-align: center;
    }
    .header
    {
        margin-left: auto!important;
        margin-right: auto !important;
    }
    .footersections
    {
        margin-left: auto!important;
        margin-right: auto !important;
        text-align: center;
        margin-top: 2rem;
        width: auto;
    }
    .copyright
    {
        text-align: center;
        margin-top: 2rem;
    }

    .terms
    {
        margin-right: auto !important;
        margin-left: auto;
        margin-top: 2rem;
    }

    /* Responsiveness for Navbarcontent */
    .navbarlogo
    {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .searchbox
    {
        justify-content: center;
    }
    .navmenu
    {
        text-align: center;
        margin-top: 2rem;
    }

    .authbtnscontainer
    {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .login
    {
        margin-right: 2rem;
    }
}